/*content-page*/
.rank-math-breadcrumb {
  background-color: var(--block-bg);
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  @media(max-width: 1023px) {
    width: 100%;
  }

  a {
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 600;
  }

  .separator {
    color: var(--text-color);
    font-size: 1rem;
  }

  .last {
    color: var(--text-color);
    font-size: 1rem;
  }
}

.content-wrapper {
  &__title {
    font-weight: 600;
    font-size: var(--big-text);
    color: var(--title-color);
    margin-bottom: 1.5rem;
  }
}

.content-description {
  margin-bottom: 1.5rem;

  p {
    font-weight: 600;
    font-size: var(--average-text);
    color: var(--text-color);
  }
}

.production-grid--content {
  .faq-list--sub {
    .faq-link {
      display: grid;
      grid-template-columns: 36px 1fr;
      align-items: center;
      grid-gap: 0.5rem;
      padding-left: 0;

      &:first-child {
        padding-top: 0;
      }

      &:focus, &:hover, &:active {
        .faq-link__text {
          color: var(--title-color);
          transition: 0.3s ease-in-out all;
        }

        .faq-link__number {
          color: var(--title-color);
          transition: 0.3s ease-in-out all;
        }
      }
    }

    .faq-link__text {
      max-width: 100%;
      font-size: var(--hight-text);
      color: var(--text-color);
      transition: 0.3s ease-in-out all;
    }

    .faq-link__number {
      font-size: var(--hight-text);
      color: var(--text-color);
      line-height: 1;
      transition: 0.3s ease-in-out all;
    }
  }

  .faq-text {
    padding-left: 0;
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;

    .swiper-block img {
      object-fit: fill;
    }
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    grid-gap: 1rem;
    grid-auto-rows: auto;
    position: relative;
    z-index: 3;
    @media(max-width: 1023px) {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

    }

    .gallery-item {
      height: 100%;
      width: 100%;
    }

    .gallery-item:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      @media(max-width: 1023px) {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

}

.content-grid {
  hr {
    border-top: 1px solid var(--border-color);
    opacity: 1;
  }

  p {
    color: var(--text-color);
    font-size: var(--normal-text);
    line-height: 140%;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }

  ul > li {
    font-size: var(--normal-text);
    line-height: 140%;
    letter-spacing: normal;
  }

  ol {
    list-style: normal;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }

  ol > li {
    font-size: var(--normal-text);
    line-height: 140%;
    letter-spacing: normal;
  }

  li {
    color: var(--text-color);
  }

  b, strong {
    font-weight: 700;
    color: var(--subtitle-color);
  }

  .aligncenter {
    margin: 0 auto;
    @media (max-width: 767px) {
      width: 100% !important;
      img {
        @media (max-width: 767px) {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .table-responsive {
    width: 100%;
    max-width: 100%;
    overflow: auto;
    max-height: 600px;
    position: relative;

    &::-webkit-scrollbar {
      width: 15px;
      background: var(--theme-button);
      height: 100%;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--theme-button-bg);

    }

    table {
      width: 100%;
      height: 100%;
      border-collapse: separate;
      border-spacing: 0;
      margin-bottom: 1rem;

    }

    th {
      padding: 1rem;
      border: 1px solid var(--border-color);
      color: var(--title-color);
      font-size: var(--normal-text);
      line-height: 140%;
      font-weight: 700;
      vertical-align: middle;
    }

    td {
      padding: 1rem;
      border: 1px solid var(--border-color);
      color: var(--text-color);
      font-size: var(--normal-text);
      line-height: 140%;
      font-weight: 400;
      @media (max-width: 767px) {
        font-size: var(--low-text);
        padding: 0.5rem;
      }
    }

    thead tr:nth-child(1) {
      background-color: var(--block-bg);
      position: sticky;
      top: 0;
      z-index: 4;
    }

    thead tr:nth-child(1) th:nth-child(1) {
      position: sticky;
      left: 0;
      z-index: 5;
      background-color: var(--block-bg);
      width: 180px;
      text-align: center;
    }

    tbody tr td:nth-child(1) {
      background-color: var(--block-bg);
      position: sticky;
      left: 0;
      width: 80px;
      font-weight: 700;
      text-align: center;
      z-index: 3;
    }
  }
}

.content-wrapper {
  margin-bottom: 5rem;
}

.wp-caption > p {
  font-weight: 500;
  color: var(--title-color);
}

.pagination {
  margin: 1rem 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: 0.5rem;
  @media(max-width: 1023px) {
    justify-content: center;
  }

  .prev {
    color: var(--title-color);

  }

  .next {
    color: var(--title-color);
  }

  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--title-color);
    transition: 0.3s ease-in-out all;
    background-color: var(--button-bg);
    @include hover-effect;
    border: 1px solid var(--border-color);

    &.dots {

    }

    &.current {
      color: var(--text-color);
    }

  }
}

.accordionShop{
  margin-bottom: 2rem;
  .accordion-button{
    background-color: var(--header-bg) ;
    color: var(--title-color);
    font-size: var(--average-text);
    &:focus, &:active, &:hover{
      box-shadow: none;
    }
  }
  .accordion-item{
    border: 1px solid var(--border-color);
    border-radius: 0;
    background-color: var(--header-bg) ;
  }
  .accordion-body{
    background-color: var(--main-bg);
  }

  ol {
    list-style: normal;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }

  ol > li {
    font-size: var(--normal-text);
    line-height: 140%;
    letter-spacing: normal;
  }

  li {
    color: var(--text-color);
  }

  b, strong {
    font-weight: 700;
    color: var(--subtitle-color);
  }
  .accordion-button:not(.collapsed){
    box-shadow: none!important;
  }
}