[data-theme="dark"] {
  --main-bg: #070b24;
  --block-bg: #081041;
  --hover-bg: #1b266b;
  --button-bg: #4d589d;
  --slider-bg: #0064fb;
  --dropdown-bg: #081041;
  --main-title-color: #ffffff;
  --news-bg:  #081041;
  --news-time:  #ffffff;
  --guides-text:  #ffffff;
  --button-gradient: linear-gradient(90deg, #0064fb 0%, #1ecdf8 100%);
  .title-box{
    background-color: var(--hover-bg);
  }
  .faq-list__link{
    &:hover, &:focus, &:active{
      color: #ffffff;
    }
  }
  .faq-link{
    &:hover, &:focus, &:active{
      .faq-link__text{
        color: #ffffff;
      }
      .title-box{
        background-color: #ffffff;
        &__icon{
          fill: var(--hover-bg);
        }
      }
    }
  }
  .guides-link{
    &:hover, &:focus, &:active{
      transition: 0.5s ease-in-out all;
      background-color: var(--hover-bg);
      border: 1px solid var(--button-bg);
    }
  }
  .header-bg{
    background-color: #081041;
    border: 2px solid #1B266B;
  }
  .theme-button{
    background-color: #1B266B;
    border-color: #1B266B;
  }
}
[data-theme="light"] {
  --main-bg: #eff8ff;
  --block-bg: #eff8ff;
  --hover-bg:  #def0ff;
  --button-bg: #4d589d;
  --slider-bg: #0064fb;
  --dropdown-bg: #DEF0FF;
  --main-title-color: #1b266b;
  --news-bg:  #ffffff;
  --news-time:  #4d589d;
  --guides-text: #070b24;
  --button-gradient: linear-gradient(90deg, #0064fb 0%, #1ecdf8 100%);
  .title-box{
    background-color: var(--hover-bg);
  }
  .faq-list__link{
    &:hover, &:focus, &:active{
      color: var(--main-title-color);
    }
  }
  .faq-link {
    .title-box{
      &__icon {
        fill: var(--button-bg);
      }
    }
    &:hover, &:focus, &:active {
      .faq-link__text {
        color:  var(--main-title-color);
      }

      .title-box {
        background-color: #c3e4ff;
      }
    }
  }
  .guides-link{
    &:hover, &:focus, &:active{
      transition: 0.5s ease-in-out all;
      background-color:  #eff1ff;
      border: 1px solid #dbe4eb;
    }
  }
  .header-bg{
    background-color: #DEF0FF;
    border: 2px solid #CADCE1;
  }
  .theme-button{
    background-color: #EFF8FF;
    border-color: #EFF8FF;
  }
}


.theme-button{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 1rem;
  padding: 4px;
  border: 1px solid;
  &__btn{
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: var(--button-bg);
    transition: color 0.3s ease-in-out;
    &--selected{
      background-color: var(--button-bg);
      transition: color 0.3s ease-in-out;
      color: #ffffff;
      border-radius: 12px;
      padding: 8px 12px;
    }
  }
}