/*variables-styles*/
:root {
  --main-title: 4rem;
  --normal-text: 1rem;
  --big-text: 2rem;
  --average-text: 1.2rem;
  --low-text: 0.9rem;
  --hight-text: 1.5rem;
  --slider-text: 1.25rem;
  --mobile-media: (min-width: 320px) and (max-width: 1023px);
}

/*reset-style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  vertical-align: baseline;
  font-family: "Rubik", sans-serif, serif;
  transition: 0.3s ease-in-out all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c-text-heading);
  line-height: 1.2;
}

p, time, span, b {
  color: var(--c-text-secondary);
  font-size: 1rem;
  line-height: 1.3;
}

strong, b {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.9375rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0.9375rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  flex: 0;
}

/*header-styles*/
.site-wrapper {
  background-color: var(--main-bg);
  position: relative;
}

.header {
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}

.header-bg {
  background-color: var(--block-bg);
  border: 2px solid var(--hover-bg);
  border-radius: 20px;
  width: 100%;
}

.header.sticky {
  position: sticky;
  top: 0;
  padding-top: 0;
  z-index: 9999;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.header.sticky .container {
  max-width: 100%;
  transition: 0.5s ease-in-out all;
}
.header.sticky .col-12 {
  padding: 0;
  transition: 0.3s ease-in-out all;
}
.header.sticky .header-bg {
  border-radius: 0;
  transition: 0.3s ease-in-out border-radius;
}
.header.sticky .header-wrapper {
  transition: 0.3s ease-in-out all;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  transition: 0.3s ease-in-out all;
}

.header-links {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 3rem;
  justify-content: start;
}

.header-box {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 1rem;
}

.box-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 1rem;
}
.box-link__icon {
  width: 16px;
  height: 16px;
  fill: var(--button-bg);
}
.box-link__icon:hover, .box-link__icon:active, .box-link__icon:focus {
  filter: opacity(50%);
}

.header-block {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  align-items: center;
}

.lang-block .dropdown-toggle {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: var(--normal-text);
  color: #4d589d;
  position: relative;
}
.lang-block .dropdown-toggle:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: none;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4726 5.47332C12.4106 5.41084 12.3369 5.36124 12.2556 5.32739C12.1744 5.29355 12.0872 5.27612 11.9992 5.27612C11.9112 5.27612 11.8241 5.29355 11.7428 5.32739C11.6616 5.36124 11.5879 5.41084 11.5259 5.47332L8.47256 8.52666C8.41058 8.58914 8.33685 8.63874 8.25561 8.67258C8.17437 8.70643 8.08723 8.72385 7.99923 8.72385C7.91122 8.72385 7.82408 8.70643 7.74284 8.67258C7.6616 8.63874 7.58787 8.58914 7.52589 8.52666L4.47256 5.47332C4.41058 5.41084 4.33685 5.36124 4.25561 5.32739C4.17437 5.29355 4.08723 5.27612 3.99923 5.27612C3.91122 5.27612 3.82408 5.29355 3.74284 5.32739C3.6616 5.36124 3.58787 5.41084 3.52589 5.47332C3.40173 5.59823 3.33203 5.7672 3.33203 5.94332C3.33203 6.11945 3.40173 6.28841 3.52589 6.41332L6.58589 9.47332C6.96089 9.84786 7.46922 10.0582 7.99923 10.0582C8.52923 10.0582 9.03756 9.84786 9.41256 9.47332L12.4726 6.41332C12.5967 6.28841 12.6664 6.11945 12.6664 5.94332C12.6664 5.7672 12.5967 5.59823 12.4726 5.47332Z' fill='%234D589D' /%3E%3C/svg%3E");
}
.lang-block .dropdown-toggle:hover, .lang-block .dropdown-toggle:active, .lang-block .dropdown-toggle:focus {
  outline: none;
  border: none;
}
.lang-block .dropdown-toggle.show:after {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out all;
}
.lang-block .dropdown-menu {
  min-width: 6rem;
  border-radius: 0.5rem;
  background-color: inherit;
  border: none;
}
.lang-block .dropdown-item {
  border-bottom: 1px solid var(--hover-bg);
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  transition: 0.3s ease-in-out all;
  border-radius: 0.5rem 0.5rem 0 0;
}
.lang-block .dropdown-item:last-child {
  border-bottom: none;
  border-radius: 0 0 0.5rem 0.5rem;
}
.lang-block .dropdown-item:hover, .lang-block .dropdown-item:active, .lang-block .dropdown-item:focus {
  background-color: var(--button-bg);
  outline: none;
  color: #ffffff;
  transition: 0.3s ease-in-out all;
}

/*footer-styles*/
.footer {
  background-color: var(--block-bg);
  border-top: 2px solid var(--hover-bg);
  width: 100%;
}

.footer-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

/*main-styles*/
/*slider-section*/
.main-slider .sa_owl_theme .owl-dots {
  bottom: 22px !important;
}
.main-slider .owl-item .sa_vert_center {
  opacity: 0;
  transition: 1s ease-in-out all;
}
.main-slider .owl-item.active .sa_vert_center {
  opacity: 1;
  transition: 1s ease-in-out all;
}
.main-slider .owl-carousel .owl-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/slider-bg.png");
}
.main-slider .sa_owl_theme .owl-dots .owl-dot span {
  background-color: var(--hover-bg) !important;
}
.main-slider .sa_owl_theme .owl-dots .active span {
  background-color: var(--slider-bg) !important;
}
.main-slider .white .sa_owl_theme .owl-nav .owl-prev, .main-slider .white .sa_owl_theme .owl-nav .owl-next {
  height: 36px !important;
  width: 36px !important;
  border-radius: 50%;
  content: "";
  background: var(--slider-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none'%3E%3Cpath d='M16 23L21 18L16 13' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center !important;
}
.main-slider .white .sa_owl_theme .owl-nav .owl-prev {
  transform: rotate(180deg);
}
.main-slider .white .sa_owl_theme .owl-nav .owl-prev:hover, .main-slider .white .sa_owl_theme .owl-nav .owl-next:hover {
  opacity: 0.8;
  background-color: var(--button-bg) !important;
}
.main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center {
  z-index: 4;
  max-width: 785px;
  margin-left: 4rem;
  top: 45%;
}
.main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center h2 {
  font-weight: 700;
  font-size: var(--main-title);
  line-height: 112%;
  color: #fff;
  margin-bottom: 0.5rem;
}
.main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center p {
  font-weight: 600;
  font-size: var(--slider-text);
  color: var(--button-bg);
}
.main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center a {
  margin-top: 1rem;
  border-radius: 20px;
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background: var(--button-gradient);
  font-weight: 600;
  font-size: var(--low-text);
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s ease-in-out all;
  opacity: 1;
}
.main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center a:hover, .main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center a:focus, .main-slider .sa_owl_theme .owl-item .sa_vert_center_wrap .sa_vert_center a:active {
  opacity: 0.5;
  transition: 0.3s ease-in-out all;
}

/*news-section*/
.news-section {
  background: var(--c-bg-primary);
  padding: 2.5rem 0 3rem;
  margin-bottom: 3rem;
}

.heading-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title-block {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-gap: 1rem;
  width: fit-content;
}
.title-block__title {
  margin-bottom: 0;
  font-weight: 800;
  font-size: var(--big-text);
  padding-bottom: 2px;
  color: var(--main-title-color);
}

.title-box {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  align-items: center;
  border-radius: 1.25rem;
  padding: 0.5rem 0.7rem;
  transition: 0.3s ease-in-out all;
}
.title-box__title {
  font-weight: 400;
  line-height: 0;
  font-size: var(--low-text);
  color: #ffffff;
  transition: 0.3s ease-in-out all;
}
.title-box__icon {
  width: 1rem;
  height: 1rem;
  fill: #ffffff;
  transition: 0.3s ease-in-out all;
}

.swiper-arrows {
  display: flex;
  width: 100px;
  height: 100%;
  position: relative;
  top: 10%;
}
.swiper-arrows .swiper-button-prev, .swiper-arrows .swiper-button-next {
  border-radius: 12px;
  width: 36px;
  height: 32px;
}
.swiper-arrows .swiper-button-prev:after, .swiper-arrows .swiper-button-next:after {
  height: 36px;
  width: 36px;
  background: var(--hover-bg);
  border-radius: 50%;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none'%3E%3Cpath d='M16 23L21 18L16 13' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.swiper-arrows .swiper-button-prev:after {
  transform: rotate(180deg);
}

.swiperNews .swiper-slide {
  max-width: 310px;
  width: 100% !important;
}

.swiper-block {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  border-radius: 20px;
  padding: 1.2rem;
  background-color: var(--news-bg);
}
.swiper-block img {
  width: 100%;
  max-height: 275px;
  object-fit: cover;
  border-radius: 1rem;
}
.swiper-block__title {
  font-size: var(--average-text);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  color: #4d589d;
}
.swiper-block__time {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--low-text);
  font-weight: 400;
  color: var(--news-time);
  border-bottom: 1px solid #4d589d;
  padding-bottom: 0.5rem;
}
.swiper-block__time b {
  font-size: var(--low-text);
  font-weight: 700;
}
.swiper-block__link {
  justify-self: start;
  border-radius: 20px;
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background: var(--button-gradient);
  font-weight: 600;
  font-size: var(--low-text);
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s ease-in-out all;
  opacity: 1;
}

/*gallery-section*/
.gallery-section {
  padding: 2.5rem 0 3rem;
  margin-bottom: 3rem;
}

.gallery-link__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*video-section*/
.video-section {
  margin-bottom: 3rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  grid-gap: 1rem;
  position: relative;
  z-index: 3;
}
@media (max-width: 1023px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
.gallery-grid .gallery-item:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/4;
}
@media (max-width: 1023px) {
  .gallery-grid .gallery-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.gallery-link__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/*guides-section*/
.guides-section {
  margin-bottom: 3rem;
}

.guides-grid {
  display: grid;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .guides-grid {
    grid-template-columns: 1fr;
  }
}

.guides-block {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--c-border-primary);
  align-content: start;
}
.guides-block__subtitle {
  color: #4d589d;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: var(--average-text);
}

.guides-list {
  display: grid;
  padding: 0 4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-rows: 180px;
  grid-gap: 1rem;
  align-items: center;
}
@media (max-width: 1023px) {
  .guides-list {
    padding: 0;
    grid-auto-rows: 200px;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .guides-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
}

.guides-link {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background-color: var(--news-bg);
  border-radius: 1rem;
}
@media (max-width: 1023px) {
  .guides-link {
    padding: 0;
    grid-auto-rows: auto;
    height: 100%;
  }
}
.guides-link:hover .guides-link__img, .guides-link:focus .guides-link__img, .guides-link:active .guides-link__img {
  animation: tilt-shaking 0.4s ease-in-out infinite;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.guides-link__img {
  width: 48px;
  height: 48px;
}
.guides-link__text {
  font-weight: 600;
  font-size: var(--low-text);
  text-transform: uppercase;
  color: var(--guides-text);
}

.guides-info {
  width: 100%;
  height: 100%;
  display: grid;
  background-image: url("..img/img-guides.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  min-height: 450px;
}

.faq-info {
  width: 100%;
  height: 100%;
  display: grid;
  background-image: url("../img/img-faq.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  min-height: 450px;
}

.faq-text {
  font-weight: 600;
  font-size: var(--average-text);
  color: #4d589d;
  padding: 1rem;
}

.info-block {
  align-self: end;
  padding: 1rem 2rem 2rem;
  position: relative;
  z-index: 1;
}
.info-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 2rem;
  background-color: #031633;
  opacity: 0.5;
  left: 0;
  z-index: -1;
  bottom: 0;
  border-radius: 0 0 1rem 1rem;
}
.info-block__text {
  font-size: 1rem;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.info-block__text:last-child {
  margin-bottom: 0;
}

.shop-section {
  background: var(--c-bg-primary);
  padding: 2.5rem 0 3rem;
  margin-bottom: 3rem;
}

/*faq-section*/
.faq-section {
  margin-bottom: 3rem;
}

.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  grid-gap: 4rem;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .faq-grid {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.faq-list {
  display: grid;
  grid-auto-flow: row;
  align-items: start;
}
.faq-list__link {
  display: block;
  font-weight: 600;
  font-size: var(--hight-text);
  color: #4d589d;
  padding: 1rem;
  border-bottom: 1px solid #4d589d;
}

.faq-link {
  display: grid;
  grid-template-columns: 1fr 36px;
  justify-items: start;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #4d589d;
}
.faq-link__text {
  font-weight: 600;
  font-size: var(--average-text);
  color: #4d589d;
  max-width: 530px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.faq-link__img {
  width: 25px;
  height: auto;
}

.faq-block {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  align-content: start;
}

/*lore-section*/
.lore-section {
  background: var(--c-bg-primary);
  padding: 2.5rem 0 3rem;
  margin-bottom: 3rem;
}

.lore-wrapper__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.lore-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}

.lore-block__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*preview-styles*/
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-theme=dark] {
  --main-bg: #070b24;
  --block-bg: #081041;
  --hover-bg: #1b266b;
  --button-bg: #4d589d;
  --slider-bg: #0064fb;
  --main-title-color: #ffffff;
  --news-bg: #081041;
  --news-time: #ffffff;
  --guides-text: #ffffff;
  --button-gradient: linear-gradient(90deg, #0064fb 0%, #1ecdf8 100%);
}
[data-theme=dark] .title-box {
  background-color: var(--hover-bg);
}
[data-theme=dark] .faq-list__link:hover, [data-theme=dark] .faq-list__link:focus, [data-theme=dark] .faq-list__link:active {
  color: #ffffff;
}
[data-theme=dark] .faq-link:hover .faq-link__text, [data-theme=dark] .faq-link:focus .faq-link__text, [data-theme=dark] .faq-link:active .faq-link__text {
  color: #ffffff;
}
[data-theme=dark] .faq-link:hover .title-box, [data-theme=dark] .faq-link:focus .title-box, [data-theme=dark] .faq-link:active .title-box {
  background-color: #ffffff;
}
[data-theme=dark] .faq-link:hover .title-box__icon, [data-theme=dark] .faq-link:focus .title-box__icon, [data-theme=dark] .faq-link:active .title-box__icon {
  fill: var(--hover-bg);
}
[data-theme=dark] .guides-link:hover, [data-theme=dark] .guides-link:focus, [data-theme=dark] .guides-link:active {
  transition: 0.5s ease-in-out all;
  background-color: var(--hover-bg);
  border: 1px solid var(--button-bg);
}

[data-theme=light] {
  --main-bg: #eff8ff;
  --block-bg: #eff8ff;
  --hover-bg: #def0ff;
  --button-bg: #4d589d;
  --slider-bg: #0064fb;
  --main-title-color: #1b266b;
  --news-bg: #ffffff;
  --news-time: #4d589d;
  --guides-text: #070b24;
  --button-gradient: linear-gradient(90deg, #0064fb 0%, #1ecdf8 100%);
}
[data-theme=light] .title-box {
  background-color: var(--hover-bg);
}
[data-theme=light] .faq-list__link:hover, [data-theme=light] .faq-list__link:focus, [data-theme=light] .faq-list__link:active {
  color: var(--main-title-color);
}
[data-theme=light] .faq-link .title-box__icon {
  fill: var(--button-bg);
}
[data-theme=light] .faq-link:hover .faq-link__text, [data-theme=light] .faq-link:focus .faq-link__text, [data-theme=light] .faq-link:active .faq-link__text {
  color: var(--main-title-color);
}
[data-theme=light] .faq-link:hover .title-box, [data-theme=light] .faq-link:focus .title-box, [data-theme=light] .faq-link:active .title-box {
  background-color: #c3e4ff;
}
[data-theme=light] .guides-link:hover, [data-theme=light] .guides-link:focus, [data-theme=light] .guides-link:active {
  transition: 0.5s ease-in-out all;
  background-color: #eff1ff;
  border: 1px solid #dbe4eb;
}

.theme-button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--hover-bg);
  padding: 4px;
  border: 1px solid var(--hover-bg);
}
.theme-button__btn {
  font-weight: 400;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: var(--button-bg);
  transition: color 0.3s ease-in-out;
}
.theme-button__btn--selected {
  background-color: var(--button-bg);
  transition: color 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 12px;
  padding: 8px 12px;
}

/*content-page*/
.rank-math-breadcrumb {
  background-color: var(--block-bg);
  border: 2px solid var(--hover-bg);
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.rank-math-breadcrumb a {
  color: var(--main-title-color);
  font-size: 1rem;
  font-weight: 500;
}
.rank-math-breadcrumb .separator {
  color: var(--main-title-color);
  font-size: 1rem;
}
.rank-math-breadcrumb .last {
  color: var(--main-title-color);
  font-size: 1rem;
}

.content-wrapper__title {
  font-weight: 800;
  font-size: var(--big-text);
  padding-bottom: 2px;
  color: var(--main-title-color);
  margin-bottom: 0.5rem;
}

.content-description {
  margin-bottom: 2rem;
}
.content-description p {
  font-weight: 600;
  font-size: var(--average-text);
  color: #4d589d;
}

.production-grid--content .faq-link {
  padding-left: 0;
}
.production-grid--content .faq-link__text {
  max-width: 100%;
  font-size: var(--hight-text);
}

/*# sourceMappingURL=style.css.map */
